@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4a4e69;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9a8c98;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c9ada7;
}
